@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {

}
.back-up{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.navbar{
  background-color:rgba(92, 200, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
}
.navbar .navigation{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-size: 14px;
  width: 80%;
  height: 100%;
  font-family: "Sawarabi Gothic", sans-serif;


}

.navbar .navigation ul{
  width: 900px;
  height: 50%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
}

.navbar .navigation ul li{
  height: 100%;
  padding: 5px 10px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 0px solid rgba(222, 193, 255, 1);
  transition: border-bottom 300ms;
}
.navbar .navigation ul li:hover{
  border-bottom: 5px solid  rgba(222, 193, 255, 1);
  padding-bottom: 10px;
}
.navbar .navigation ul li a{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width:20%;
  height: 100%;
  font-size: 30px;
  vertical-align: top;
  color: white;
}
.navbar .logo h2{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  }
.prez{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height:90vh;
  width: 100%;
  background-color:white;
  padding-top: 60px;

}
.prez .intro{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.prez .intro .intro-img{
  width: 50%;
  background-image: url('../imgs/Tomoe.jpg');
  background-position: center;
  background-size: cover;
}
.prez .intro .intro-text {
  width: 50%;
  padding: 20px;
  color:black;
}
/* .prez .intro .intro-img img{
  position: relative;
  height: auto;
  width: 100%;
  border: solid;
} */
.prez .intro .intro-text h2{
  text-align: center;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding-bottom: 50px;
}
.prez p{
  font-size: 22px;
  margin: 0px 0px 15px 0px;
  line-height: 1.3em;
  color: black;
}
.prez .para{
  border: solid;  background-color: rgba(181, 62, 181, 0.41);

  border-color: black;
  background-color: darkgrey;
}
.prez .intro .intro-text .back-up{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: right;
  width:100%;
  padding-top:30px;
  position: relative;
  display: block;
  color:white;
}
.parcours_pro{
background-color: rgba(52, 54, 51, 1);
padding: 20px;
display: flex;
flex-direction: column;
}
.my_parcours{
  display: flex;
  flex-direction: row;
}
.parcours_pro .pro{
  padding-top:20px;
}
.parcours_pro .pro h2{
  text-align: center;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin: 0px 0px 50px 0px;
}
.parcours_pro ul{
  font-size: 20px;
}
.parcours_pro ul li{
  padding-left: 40px;
}
.parcours_pro p {
  padding: 20px 30px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.parcours_pro p a{
  text-decoration: none;
  color: black;
  margin-left: 900px;
}
.container_parcours_pro{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  height: 100%;
}
.iss{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto auto 20px auto;
  background-color: white;
  border-radius: 5px;
  width:90%;
  height:300px;
  -moz-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -o-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  box-shadow: 3px 3px 10px 0px rgba(89, 89, 89, 0.2);
}

.iss .title-container{
  flex-direction: row;
  margin-bottom: 20px;

}
.iss .title-container .title{
  width: 100%;
  margin: 15px auto;
}
.iss .title-container .title h4{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.iss .title-container .date{
  width: 100%;
}
.iss .title-container .date h5{
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  color: black;
  text-align: center;

}
.iss .body ul{
}
.iss .body ul li{
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
}
.diplome{
  background-color: rgb(129, 157, 210);
  background-image:url("../imgs/drum.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.diplome .diplome-title{
  width:100%;
  padding: 20px;
}
.diplome .diplome-body{
  position: relative;
  display: flex;
  width:100%;
}
.diplome .diplome-title h2{
  text-align: center;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
  color: white;
}
.diplome .diplome-body ul{
  position: relative;
  text-align: center;
  border-color: black;
  max-width: 100%;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
.diplome .diplome-body ul li{
  padding: 15px;
  border-radius: 5px;
  max-width: 30%;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -o-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  box-shadow: 3px 3px 10px 0px rgba(89, 89, 89, 0.2);
}
.diplome .diplome-body ul li h4{
  font-size:25px;
  font-weight:bold;
  color:rgb(58, 58, 71);
  margin-bottom: 15px;
}
.diplome .diplome-body ul li h3{
  font-size:35px;
  font-weight:bold;
  color:rgb(0, 0, 31);
  margin-bottom: 15px;
}
.diplome .diplome-body ul li h5{
  font-size:25px;
  font-weight:bold;
  color:rgb(58, 58, 71);
  font-style: italic;
}
.diplome p{
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.diplome a{
  color: black;
  text-decoration: none;

}
.diplome-body p a{
  color: black;
  text-decoration: none;
  margin-left: 900px;
}
.centre_interet{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: rgba(52, 54, 51, 1);
}
.centre_interet_header{
  width: 100%;
}
.centre_interet_header h2{
  text-align: center;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
  color: white;
}
.centre_interet_body{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.centre_interet_item{
  width: 30%;
  min-height: 80vh;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -o-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  box-shadow: 3px 3px 10px 0px rgba(89, 89, 89, 0.2);
}
.centre_interet_item_title{
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
  color: white;
}
.centre_interet_text{
  background-color:white;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.centre_interet_text h3{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
.centre_interet_text p{
  font-size: 20px;
}
.centre_interet_text a{
  color: black;
}
.centre_interet_text .status{
  text-align: right;
}
.centre_interet_item .centre_interet_thumb{
  width: 100%;
  height: 65%;
  border-radius: 7px 7px 0 0;
  background-size: cover;
  box-shadow: inset 0px -5px 5px rgba(0,0,0,0.3);
}
.centre_interet_item .centre_interet_thumb.nochys{
  background-image: url('../imgs/nochys.jpg');
}
.centre_interet_item .centre_interet_thumb.ydwc{
  background-image: url('../imgs/ydwc.jpg');
}
.centre_interet_item .centre_interet_thumb.tomoe{
  background-image: url('../imgs/tom.jpg');
}

.centre_interet_item .centre_interet_thumb.paintone{
  background-image: url('../imgs/cave.jpg');
}
.centre_interet_item .centre_interet_thumb.painttwo{
  background-image: url('../imgs/graffiti.jpg');
}
.centre_interet_item .centre_interet_text{
  padding: 20px;
}
.centre_interet_footer a{
  margin-left: 900px;
  color: black;
  text-decoration: none;
}
/* .centre_interet_paint_container{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
/* .centre_interet_paint_container .centre_interet_paint{
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.centre_interet_paint_container .centre_interet_paint .paint{
  height:80%;
  width: 40%;
  overflow: hidden;
}
.centre_interet_paint_container .centre_interet_paint .paint img{
  height: 100%;
  margin-left: -5%;
  transition: all ease 1s;
}
.centre_interet_paint_container .centre_interet_paint .paint img:hover{
  transform: scale(1.4);
} */
.demarches{
  background-color:rgba(125, 112, 186, 1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.demarches-header{
  margin: 20px;
}
.demarches-header h2{
  text-align: center;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
}
.demarches-text{
  padding: 20px 150px;
  margin:auto;
  width: 70%;
  height: 65%;
  border-radius: 7px 7px 0 0;
  box-sizing: border-box;
  background-color:white;
  -moz-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -o-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  box-shadow: 3px 3px 10px 0px rgba(89, 89, 89, 0.2);}
.demarches-text p{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: justify;
  background-color: white;
}
.achievements-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.achievements-items{
  width: 35%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
.achievements-items.site h4{
  font-size:18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.achievements-items.achievements{
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -o-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  box-shadow: 3px 3px 10px 0px rgba(89, 89, 89, 0.2);

}
.achievements-items.site {
  -moz-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  -o-box-shadow: 10px 10px 5px 0px rgba(89, 89, 89, 0.4);
  box-shadow: 3px 3px 10px 0px rgba(89, 89, 89, 0.2);
}
.achievements-items.site p{
  margin-bottom: 15px;
  font-size: 20px;
  text-align: justify;

}

.achievements-items.achievements .achievements-list .list-item h3{
  font-size:20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.achievements-items.achievements .achievements-list .list-item ul{
  margin-bottom: 15px;
  padding-left: 20px;
}
.achievements-items.achievements .achievements-list .list-item h4{
  font-size:18px;
  font-weight: bold;
}
.achievements-items.achievements .achievements-list .list-item h4 span{
  float: right;
  margin-right: 50px;
}
.achievements-items.achievements .achievements-list .list-item li{
  margin-right: 50px;
  list-style: disc;
  padding: 5px;
}

.footer{
  background-color: rgba(92, 200, 255, 1);
  height: 60px;
  width: 100%;
}
.footer .nav-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 30vh;
  margin-left: 900px;
  box-sizing: border-box;
}
.footer-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}
.footer-img i{
  color: black;
}
.back-up{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  padding-top: 15px;
}
.back-up a{
  color: black;
  text-decoration: none;
}
